* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: #c1c1c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  width: 15rem;
  height: 15rem;
  background: url("https://user-images.githubusercontent.com/62456972/122495347-da197b80-cfb7-11eb-9e80-bf6c9a1e9ea3.png");
  background-size: 100%;
  border-radius: 50%;
}

.clock1 {
  box-shadow: -8px -8px 20px #e1e1e4, 8px 8px 20px #727276, inset -4px -4px 20px #e1e1e4, inset 4px 4px 20px #727276;
}
.clock2 {
  box-shadow: -8px -8px 20px #2b2a2b, 8px 8px 20px #050205, inset -4px -4px 20px #2b2a2b, inset 4px 4px 20px #050205;
